.logo {
  font-size: 22px;
  font-family: fantasy;
  margin-bottom: 18px;
  margin-left: 6px;
}
.sidebar{
  background: black;
  color: white;
  width: 150px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .close {
    display: flex;
    align-items: center;
    background: #f44336;
    cursor: pointer;
    padding: 10px 5px;
    span {
      margin-left: 10px;
    }  
  }
  a.navbar__link.active {
    font-weight: bold;
  }
  a.navbar__link {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
  }
}