form {
  label{
    /* margin-right: 33px; */
    display: block;
    font-family: monospace;
    font-size: 16px;
    margin-top: 19px;
  }
  input {
    width: 281px;
    border: 2px solid #00000094;
    border-radius: 4px;
    height: 32px;
    font-size: 14px;
    padding: 3px;
  }
  textarea{
    width: 281px;
    border: 2px solid #00000094;
    border-radius: 4px;
    height: 100px;
    font-size: 14px;
    padding: 3px;
  }
}
.card-item{
  box-shadow: 0px 1px 3px #9d9d9d;
  border-radius: 3px;
  width: 100%;
  /* margin: 0px 30px; */
  padding: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  margin-top: 10px;
  h1{
    margin: 0px;
  }
  .date {
    color: grey;
    font-size: 12px;
    margin: 0px;
}
}

