$widthBtn: 120px;
$primary: #3F51B5;
$danger: #f44336;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn-form{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  .btn-secondary {
    height: 40px;
    color: $primary;
    width: $widthBtn;
    border: 2px solid $primary;
    border-radius: 4px;
    font-weight: bold;
    font-size: 15px;
  }
  .btn-primary{
    height: 40px;
    color: white;
    background-color: $primary;
    width: $widthBtn;
    border: 0px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 15px;
  }
}
.btn-danger{
  height: 40px;
  color: white;
  background-color: $danger;
  width: $widthBtn;
  border: 0px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 15px;
  margin-right: 10px;
}
.btn-primary{
  height: 40px;
  color: white;
  background-color: $primary;
  width: $widthBtn;
  border: 0px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 15px;
}